@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --text-secondary: #d3d3d3;
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1663147670648-16282028ea1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3300&q=80");
}

.linear-blue-green-gradient {
  background: linear-gradient(100.74deg, #2563eb 36%, #00ff19 104%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blue-transparent-green-gradient {
  background: linear-gradient(45deg, #2563eb 0%, transparent 50%, #00ffff 100%);
}

.blue-transparent-green-gradient-vertical {
  background: linear-gradient(
    180deg,
    #2563eb 0%,
    transparent 50%,
    #00ffff 100%
  );
}

.green-transparent-blue-gradient-vertical {
  background: linear-gradient(
    180deg,
    #00ffff 0%,
    transparent 50%,
    #2563eb 100%
  );
}

.green-transparent-blue-gradient {
  background: linear-gradient(
    135deg,
    #00ffff 0%,
    transparent 50%,
    #2563eb 100%
  );
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  filter: invert(0.8);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  filter: invert(0.3);
}
