@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

.custom-img {
  background-image: url("https://images.unsplash.com/photo-1663147670648-16282028ea1c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3300&q=80");
}

.pink-to-blue-gradient {
  background: linear-gradient(92.58deg, #eb09ef -4.36%, #3e8eec 52.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.blue-radial-gradient {
  background: radial-gradient(
    154.67% 154.67% at 13.13% 212.22%,
    rgba(62, 142, 236, 0.87) 0%,
    #f6f6f6 100%
  );
}
